### Set Up

In [1]:
import pandas as pd
import numpy as np
import os

### Importing Data

In [2]:
cwd = os.getcwd()
cwd

'/home/benthompson/code/bendthompson/london_fires/notebooks'

In [3]:
xl21 = pd.ExcelFile("../raw_data/Fire Facts - Incident response times 2021.xlsx")

In [43]:
xl20 = pd.ExcelFile("../raw_data/Fire Facts - Incident response times 2020.xlsx")
xl19 = pd.ExcelFile("../raw_data/Fire Facts - Incident Response Times 2019.xlsx")
xl18 = pd.ExcelFile("../raw_data/Fire Facts - Incident Response Times 2018.xlsx")
xl17 = pd.ExcelFile("../raw_data/Fire Facts - Incident Response Times 2017.xlsx")

In [4]:
sheetnames21 = xl21.sheet_names

In [50]:

sheetnames20 = xl20.sheet_names
sheetnames19 = xl19.sheet_names
sheetnames18 = xl18.sheet_names
sheetnames17 = xl17.sheet_names

In [5]:
sheetnames21

['Sheet6',
 'Sheet7',
 'About',
 '2',
 '3',
 '3.1 to 3.5',
 '4.1',
 '5.1',
 '5.2',
 '5.3',
 '5.4',
 '5.5',
 '5.6',
 '5.7',
 '5.8',
 '5.9',
 '5.10',
 '6.1',
 'chart 1',
 'chart 2']

In [277]:
xl21.parse('6.1').iloc[2,2]

2011

In [278]:
df = xl21.parse('6.1')

In [279]:
df.columns = (df.iloc[2,:]) #promote row with labels to labels

In [280]:
df.drop(index=[0,1,2], inplace=True)  #remove empty rows

In [282]:
df.rename(columns=str, inplace=True)
df.rename(columns={'nan':'area'}, inplace=True)
df.reset_index(drop=True, inplace=True) #rename NaN col label to Area

In [283]:
df['area'] = df['area'].str.lower() #make all area names lowercase to be consistent

In [285]:
totalsdf = df[df['area'].isin(['london total', 'inner london', 'outer london'])] #collect the total rows in a df

In [286]:
totalsdf

2,area,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
0,london total,1900-01-01 00:07:14.205000,1900-01-01 00:07:06.301000,1900-01-01 00:07:02.120000,1900-01-01 00:06:57.896000,1900-01-01 00:07:09.374000,1900-01-01 00:07:15.070000,1900-01-01 00:07:06.652000,1900-01-01 00:06:54.372000,1900-01-01 00:06:52.990000,1900-01-01 00:06:53.169000,1900-01-01 00:06:43.534000,1900-01-01 00:06:48.714000
1,inner london,1900-01-01 00:06:38.541000,1900-01-01 00:06:33.822000,1900-01-01 00:06:29.222000,1900-01-01 00:06:26.809000,1900-01-01 00:06:47.579000,1900-01-01 00:06:52.227000,1900-01-01 00:06:43.427000,1900-01-01 00:06:33.181000,1900-01-01 00:06:30.601000,1900-01-01 00:06:31.108000,1900-01-01 00:06:20.735000,1900-01-01 00:06:27.523000
16,outer london,1900-01-01 00:07:54.852000,1900-01-01 00:07:42.377000,1900-01-01 00:07:38.081000,1900-01-01 00:07:31.772000,1900-01-01 00:07:33.295000,1900-01-01 00:07:39.952000,1900-01-01 00:07:31.223000,1900-01-01 00:07:16.661000,1900-01-01 00:07:16.471000,1900-01-01 00:07:16.718000,1900-01-01 00:07:06.954000,1900-01-01 00:07:11.194000

In [287]:
df.drop(df.index[df['area'].isin(['london total', 'inner london', 'outer london'])], inplace=True) #remove total rows
df.reset_index(drop=True, inplace=True)

In [288]:
df

2,area,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
0,camden,1900-01-01 00:06:26.800000,1900-01-01 00:06:20.553000,1900-01-01 00:06:16.613000,1900-01-01 00:06:07.051000,1900-01-01 00:06:31.514000,1900-01-01 00:06:46.210000,1900-01-01 00:06:40.867000,1900-01-01 00:06:31.719000,1900-01-01 00:06:30.591000,1900-01-01 00:06:32.332000,1900-01-01 00:06:21.974000,1900-01-01 00:06:32.036000
1,city of london,1900-01-01 00:06:27.581000,1900-01-01 00:06:31.662000,1900-01-01 00:06:30.154000,1900-01-01 00:06:17.540000,1900-01-01 00:06:39.363000,1900-01-01 00:06:50.889000,1900-01-01 00:06:40.187000,1900-01-01 00:06:27.462000,1900-01-01 00:06:32.363000,1900-01-01 00:06:28.531000,1900-01-01 00:06:16.579000,1900-01-01 00:06:03.582000
2,hackney,1900-01-01 00:06:46.169000,1900-01-01 00:06:29.648000,1900-01-01 00:06:30.958000,1900-01-01 00:06:24.150000,1900-01-01 00:06:45.608000,1900-01-01 00:06:50.773000,1900-01-01 00:06:39.020000,1900-01-01 00:06:34.390000,1900-01-01 00:06:30.702000,1900-01-01 00:06:33.534000,1900-01-01 00:06:27.608000,1900-01-01 00:06:35.609000
3,hammersmith and fulham,1900-01-01 00:07:00.143000,1900-01-01 00:06:52.843000,1900-01-01 00:06:42.646000,1900-01-01 00:06:26.249000,1900-01-01 00:06:37.866000,1900-01-01 00:06:39.678000,1900-01-01 00:06:43.434000,1900-01-01 00:06:26.067000,1900-01-01 00:06:25.676000,1900-01-01 00:06:29.536000,1900-01-01 00:06:20.153000,1900-01-01 00:06:23.307000
4,haringey,1900-01-01 00:07:33.370000,1900-01-01 00:07:26.860000,1900-01-01 00:07:17.172000,1900-01-01 00:07:13.717000,1900-01-01 00:07:15.546000,1900-01-01 00:07:17.588000,1900-01-01 00:06:37.885000,1900-01-01 00:07:05.180000,1900-01-01 00:06:55.524000,1900-01-01 00:07:08.145000,1900-01-01 00:06:50.129000,1900-01-01 00:06:57.614000
5,islington,1900-01-01 00:06:29.698000,1900-01-01 00:06:24.842000,1900-01-01 00:06:22.454000,1900-01-01 00:06:17.438000,1900-01-01 00:06:37.575000,1900-01-01 00:06:43.609000,1900-01-01 00:06:33.666000,1900-01-01 00:06:22.526000,1900-01-01 00:06:12.985000,1900-01-01 00:06:12.400000,1900-01-01 00:06:09.327000,1900-01-01 00:06:29.453000
6,kensington and chelsea,1900-01-01 00:06:13.486000,1900-01-01 00:06:07.583000,1900-01-01 00:06:06.907000,1900-01-01 00:06:05.382000,1900-01-01 00:06:16.824000,1900-01-01 00:06:18.629000,1900-01-01 00:06:10.865000,1900-01-01 00:06:00.941000,1900-01-01 00:06:04.076000,1900-01-01 00:06:04.906000,1900-01-01 00:05:51.521000,1900-01-01 00:05:54.803000
7,lambeth,1900-01-01 00:06:21.886000,1900-01-01 00:06:18.212000,1900-01-01 00:06:13.127000,1900-01-01 00:06:17.260000,1900-01-01 00:06:20.611000,1900-01-01 00:06:31.371000,1900-01-01 00:06:28.302000,1900-01-01 00:06:18.529000,1900-01-01 00:06:20.959000,1900-01-01 00:06:12.533000,1900-01-01 00:06:07.023000,1900-01-01 00:06:09.659000
8,lewisham,1900-01-01 00:06:31.500000,1900-01-01 00:06:30.801000,1900-01-01 00:06:20.282000,1900-01-01 00:06:26.853000,1900-01-01 00:06:49.471000,1900-01-01 00:06:54.447000,1900-01-01 00:06:43.184000,1900-01-01 00:06:28.455000,1900-01-01 00:06:28.983000,1900-01-01 00:06:17.972000,1900-01-01 00:06:26.297000,1900-01-01 00:06:31.086000
9,newham,1900-01-01 00:06:53.477000,1900-01-01 00:06:47.860000,1900-01-01 00:06:42.363000,1900-01-01 00:06:48.249000,1900-01-01 00:07:29.098000,1900-01-01 00:07:19.379000,1900-01-01 00:07:08.364000,1900-01-01 00:06:58.571000,1900-01-01 00:06:52.178000,1900-01-01 00:06:47.310000,1900-01-01 00:06:43.604000,1900-01-01 00:06:50.441000
10,southwark,1900-01-01 00:06:31.747000,1900-01-01 00:06:28.021000,1900-01-01 00:06:19.270000,1900-01-01 00:06:29.576000,1900-01-01 00:07:13.658000,1900-01-01 00:07:14.884000,1900-01-01 00:06:56.552000,1900-01-01 00:06:29.776000,1900-01-01 00:06:28.998000,1900-01-01 00:06:31.299000,1900-01-01 00:06:17.449000,1900-01-01 00:06:19.546000
11,tower hamlets,1900-01-01 00:06:19.676000,1900-01-01 00:06:13.507000,1900-01-01 00:06:13.499000,1900-01-01 00:06:15.039000,1900-01-01 00:06:33.581000,1900-01-01 00:06:45.960000,1900-01-01 00:06:37.848000,1900-01-01 00:06:26.051000,1900-01-01 00:06:19.955000,1900-01-01 00:06:19.741000,1900-01-01 00:06:11.879000,1900-01-01 00:06:14.975000
12,wandsworth,1900-01-01 00:06:54.718000,1900-01-01 00:06:49.994000,1900-01-01 00:06:38.053000,1900-01-01 00:06:35.968000,1900-01-01 00:06:47.305000,1900-01-01 00:06:47.972000,1900-01-01 00:06:41.046000,1900-01-01 00:06:31.451000,1900-01-01 00:06:28.567000,1900-01-01 00:06:29.454000,1900-01-01 00:06:20.988000,1900-01-01 00:06:35.903000
13,westminster,1900-01-01 00:06:45.089000,1900-01-01 00:06:49.283000,1900-01-01 00:06:45.986000,1900-01-01 00:06:37.528000,1900-01-01 00:07:00.110000,1900-01-01 00:07:00.306000,1900-01-01 00:07:00.751000,1900-01-01 00:06:47.380000,1900-01-01 00:06:44.125000,1900-01-01 00:06:49.247000,1900-01-01 00:06:22.937000,1900-01-01 00:06:32.971000
14,barking and dagenham,1900-01-01 00:07:42.108000,1900-01-01 00:07:22.833000,1900-01-01 00:07:25.787000,1900-01-01 00:07:20.936000,1900-01-01 00:07:37.094000,1900-01-01 00:08:33.214000,1900-01-01 00:07:23.493000,1900-01-01 00:07:14.067000,1900-01-01 00:07:30.655000,1900-01-01 00:07:20.436000,1900-01-01 00:07:18.337000,1900-01-01 00:07:23.891000
15,barnet,1900-01-01 00:08:24.628000,1900-01-01 00:08:03.711000,1900-01-01 00:08:04.470000,1900-01-01 00:07:53.959000,1900-01-01 00:07:43.372000,1900-01-01 00:07:46.506000,1900-01-01 00:07:36.254000,1900-01-01 00:07:29.446000,1900-01-01 00:07:26.842000,1900-01-01 00:07:22.137000,1900-01-01 00:07:05.789000,1900-01-01 00:07:16.460000
16,bexley,1900-01-01 00:07:46.337000,1900-01-01 00:07:34.442000,1900-01-01 00:07:25.255000,1900-01-01 00:07:25.610000,1900-01-01 00:07:31.921000,1900-01-01 00:07:46.536000,1900-01-01 00:07:41.217000,1900-01-01 00:07:20.325000,1900-01-01 00:07:17.136000,1900-01-01 00:07:30.242000,1900-01-01 00:07:20.334000,1900-01-01 00:07:17.514000
17,brent,1900-01-01 00:07:49.295000,1900-01-01 00:07:34.516000,1900-01-01 00:07:46.539000,1900-01-01 00:07:30.301000,1900-01-01 00:07:35.974000,1900-01-01 00:07:42.476000,1900-01-01 00:07:30.560000,1900-01-01 00:07:27.518000,1900-01-01 00:07:16.479000,1900-01-01 00:07:23.522000,1900-01-01 00:07:13.227000,1900-01-01 00:07:26.051000
18,bromley,1900-01-01 00:08:12.802000,1900-01-01 00:08:09.408000,1900-01-01 00:08:04.925000,1900-01-01 00:08:01.510000,1900-01-01 00:07:57.438000,1900-01-01 00:07:51.782000,1900-01-01 00:07:47.674000,1900-01-01 00:07:37.421000,1900-01-01 00:07:45.798000,1900-01-01 00:07:33.968000,1900-01-01 00:07:32.887000,1900-01-01 00:07:33.482000
19,croydon,1900-01-01 00:07:23.833000,1900-01-01 00:07:22.093000,1900-01-01 00:07:17.596000,1900-01-01 00:07:14.119000,1900-01-01 00:07:07.741000,1900-01-01 00:07:15.194000,1900-01-01 00:07:09.896000,1900-01-01 00:06:50.822000,1900-01-01 00:06:54.651000,1900-01-01 00:06:52.485000,1900-01-01 00:06:43.503000,1900-01-01 00:06:41.809000
20,ealing,1900-01-01 00:07:40.384000,1900-01-01 00:07:17.408000,1900-01-01 00:07:07.752000,1900-01-01 00:07:06.879000,1900-01-01 00:07:10.124000,1900-01-01 00:07:21.399000,1900-01-01 00:07:16.817000,1900-01-01 00:07:11.212000,1900-01-01 00:07:02.403000,1900-01-01 00:07:00.752000,1900-01-01 00:06:49.701000,1900-01-01 00:06:56.282000
21,enfield,1900-01-01 00:08:24.378000,1900-01-01 00:08:15.150000,1900-01-01 00:08:06.719000,1900-01-01 00:07:57.694000,1900-01-01 00:07:57.636000,1900-01-01 00:07:58.042000,1900-01-01 00:07:51.261000,1900-01-01 00:07:49.847000,1900-01-01 00:07:41.103000,1900-01-01 00:07:43.448000,1900-01-01 00:07:21.401000,1900-01-01 00:07:28.006000
22,greenwich,1900-01-01 00:07:13.006000,1900-01-01 00:07:10.004000,1900-01-01 00:07:00.208000,1900-01-01 00:06:47.609000,1900-01-01 00:07:11.243000,1900-01-01 00:07:09.806000,1900-01-01 00:07:15.133000,1900-01-01 00:07:00.404000,1900-01-01 00:06:59.223000,1900-01-01 00:07:04.087000,1900-01-01 00:06:52.665000,1900-01-01 00:06:53.583000
23,harrow,1900-01-01 00:08:10.852000,1900-01-01 00:07:54.743000,1900-01-01 00:07:55.471000,1900-01-01 00:07:42.555000,1900-01-01 00:07:28.193000,1900-01-01 00:07:34.883000,1900-01-01 00:07:30.281000,1900-01-01 00:07:19.908000,1900-01-01 00:07:03.746000,1900-01-01 00:07:11.126000,1900-01-01 00:06:58.775000,1900-01-01 00:07:11.316000
24,havering,1900-01-01 00:07:52.741000,1900-01-01 00:07:27.869000,1900-01-01 00:07:27.646000,1900-01-01 00:07:23.058000,1900-01-01 00:07:41.614000,1900-01-01 00:07:54.100000,1900-01-01 00:07:47.497000,1900-01-01 00:07:30.277000,1900-01-01 00:07:33.223000,1900-01-01 00:07:40.633000,1900-01-01 00:07:32.535000,1900-01-01 00:07:36.684000
25,hillingdon,1900-01-01 00:08:29.531000,1900-01-01 00:08:21.966000,1900-01-01 00:08:28.198000,1900-01-01 00:08:21.468000,1900-01-01 00:08:26.916000,1900-01-01 00:08:22.726000,1900-01-01 00:08:18.243000,1900-01-01 00:08:07.381000,1900-01-01 00:07:56.303000,1900-01-01 00:07:56.303000,1900-01-01 00:07:46.339000,1900-01-01 00:07:49.823000
26,hounslow,1900-01-01 00:08:12.242000,1900-01-01 00:07:50.177000,1900-01-01 00:07:43.014000,1900-01-01 00:07:41.144000,1900-01-01 00:07:46.431000,1900-01-01 00:07:45.373000,1900-01-01 00:07:39.080000,1900-01-01 00:06:42.468000,1900-01-01 00:07:23.275000,1900-01-01 00:07:12.604000,1900-01-01 00:07:07.631000,1900-01-01 00:07:08.705000
27,kingston upon thames,1900-01-01 00:07:50.998000,1900-01-01 00:07:34.452000,1900-01-01 00:07:40.502000,1900-01-01 00:07:43.117000,1900-01-01 00:07:36.304000,1900-01-01 00:07:30.700000,1900-01-01 00:07:34.502000,1900-01-01 00:07:02.307000,1900-01-01 00:07:14.515000,1900-01-01 00:07:13.550000,1900-01-01 00:07:01.386000,1900-01-01 00:06:53.637000
28,merton,1900-01-01 00:07:38.456000,1900-01-01 00:07:26.790000,1900-01-01 00:07:11.179000,1900-01-01 00:07:14.179000,1900-01-01 00:07:12.264000,1900-01-01 00:07:15.007000,1900-01-01 00:07:15.895000,1900-01-01 00:06:57.506000,1900-01-01 00:06:46.403000,1900-01-01 00:06:48.451000,1900-01-01 00:06:47.194000,1900-01-01 00:06:44.739000
29,redbridge,1900-01-01 00:07:38.640000,1900-01-01 00:07:27.159000,1900-01-01 00:07:31.987000,1900-01-01 00:07:23.477000,1900-01-01 00:07:36.655000,1900-01-01 00:07:48.811000,1900-01-01 00:07:35.984000,1900-01-01 00:07:14.114000,1900-01-01 00:07:19.730000,1900-01-01 00:07:24.985000,1900-01-01 00:07:12.040000,1900-01-01 00:07:13.361000
30,richmond upon thames,1900-01-01 00:08:24.267000,1900-01-01 00:08:09.581000,1900-01-01 00:08:03.502000,1900-01-01 00:07:47.320000,1900-01-01 00:07:35.114000,1900-01-01 00:07:39.055000,1900-01-01 00:07:22.572000,1900-01-01 00:07:12.406000,1900-01-01 00:06:59.651000,1900-01-01 00:07:09.820000,1900-01-01 00:07:02.742000,1900-01-01 00:07:17.371000
31,sutton,1900-01-01 00:07:51.111000,1900-01-01 00:07:42.911000,1900-01-01 00:07:39.124000,1900-01-01 00:07:28.252000,1900-01-01 00:07:18.804000,1900-01-01 00:07:18.262000,1900-01-01 00:07:15.500000,1900-01-01 00:07:02.533000,1900-01-01 00:07:05.738000,1900-01-01 00:07:07.409000,1900-01-01 00:06:59.263000,1900-01-01 00:07:03.553000
32,waltham forest,1900-01-01 00:07:35.152000,1900-01-01 00:07:28.421000,1900-01-01 00:06:52.269000,1900-01-01 00:06:49.332000,1900-01-01 00:06:44.454000,1900-01-01 00:06:59.069000,1900-01-01 00:06:54.062000,1900-01-01 00:06:40.628000,1900-01-01 00:06:39.048000,1900-01-01 00:06:34.012000,1900-01-01 00:06:28.159000,1900-01-01 00:06:37.006000

In [289]:
def timetosecs(time):
    return round(time.hour + time.minute*60 + time.second + time.microsecond/1000000)
def timetominsecs(time):
    t = round(time.hour + time.minute*60 + time.second + time.microsecond/1000000)
    return t//60, t%60

In [290]:
time = df.iloc[1,1]

In [291]:
timetosecs(time),timetominsecs(time)

(388, (6, 28))

In [301]:
df['2010.0','2011.0']

KeyError: ('2010.0', '2011.0')